html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-size: 18px;
  color: white;
}

div#__next {
  height: 100%;
}

h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter-blue {
  -webkit-filter: invert(68%) sepia(60%) saturate(511%) hue-rotate(116deg) brightness(95%) contrast(102%);
          filter: invert(68%) sepia(60%) saturate(511%) hue-rotate(116deg) brightness(95%) contrast(102%);
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
}

.socials a {
  margin-right: .5rem;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #071E3D;
  z-index: 1;
}

header nav {
  height: 4rem;
}

header nav ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  height: 100%;
}

header nav ul li {
  list-style: none;
  margin: auto 1rem;
  border: 2px solid white;
  border-radius: 5px;
  padding: 5px;
}

header nav ul li a {
  padding: 5px;
  color: white;
  text-decoration: none;
}

header nav ul li:hover {
  border: 2px solid #21E6C1;
}

.container {
  width: 80%;
  margin: auto;
  height: 90%;
}

.container .hero .heading {
  text-align: center;
}

.container .about .socials {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.container .about .about-description {
  margin: 1rem 0;
}

.container .about .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .about .skills h4 {
  margin-top: .5rem;
  margin-right: 5px;
  padding: 5px;
  border-radius: 5px;
}

.container .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .projects .projects-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 3rem 0;
}

.container .projects .projects-div .project {
  position: relative;
  width: 45%;
  min-height: 16rem;
  padding-bottom: 3rem;
}

.container .projects .projects-div .project h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.container .projects .projects-div .project p {
  margin-bottom: 1rem;
}

.container .projects .projects-div .project .tech-used ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .projects .projects-div .project .tech-used ul li {
  margin-right: 1rem;
  list-style-position: inside;
  padding: 0;
}

.container .projects .projects-div .project .buttons {
  position: absolute;
  bottom: 0;
}

.container .projects .projects-div .project .live-site {
  bottom: 1;
  text-decoration: none;
  color: white;
  background-color: #3d5a80;
  margin-right: .5rem;
  padding: 5px;
  border-radius: 5px;
}

.container .projects .projects-div .project .source-code {
  text-decoration: none;
  color: white;
  background-color: #ee6c4d;
  padding: 5px;
  border-radius: 5px;
}

.container footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #071E3D;
  color: white;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .container .projects {
    height: 100vh;
    padding: 130% 0;
  }
  .container .projects .projects-div {
    display: block;
  }
  .container .projects .projects-div .project {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    margin-bottom: 3rem;
  }
}
/*# sourceMappingURL=main.css.map */