@import './variables';

html{
    height: 100%;
    scroll-behavior: smooth;
}

body{
    height: 100%;
    font-size: 18px;
    color: white;
}

div#__next{
    height: 100%;
}

h1,h2,h3,h4{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 3rem;
}
h3{
    font-size: 1.5rem;
}
section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

// svg filter 
.filter-blue{
    filter: invert(68%) sepia(60%) saturate(511%) hue-rotate(116deg) brightness(95%) contrast(102%);
}
// socials
.socials{
    display: flex;
    justify-content: center;
    margin-top:1rem;
    a{
        margin-right: .5rem;
    }
}

// Header
header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $darkBlue;
    z-index: 1;
    nav{
        height: 4rem;
        ul{
            padding: 0;
            display: flex;
            justify-content: center;
            margin: 0;
            height: 100%;
            // header list items
            li{
                list-style: none;
                margin: auto 1rem;
                border: 2px solid white;
                border-radius: 5px;
                padding: 5px;
                a{
                    padding: 5px;
                    color: white;
                    text-decoration: none;
                }
            }
            // hover for the list items
            li:hover{
                border: 2px solid $blue;
            }
        }
    }
}// end of header

.container{
    width: 80%;
    margin: auto;
    height: 90%;
    .hero{

        .heading{
            text-align: center;
        }
    }// head of hero section
    .about{

        .socials{
            justify-content: start;
        }
        .about-description{
            margin: 1rem 0;
        }
        .skills{
            display: flex;
            flex-wrap: wrap;
            h4{
                margin-top: .5rem;
                margin-right: 5px;
                padding: 5px;
                border-radius: 5px;
            }
        }
    }// end of about
    .projects{
        display:flex;
        .projects-div{
            display: flex;
            flex-wrap: wrap; 
            justify-content: space-between;
            gap: 3rem 0;   
            .project{
                width: 45%;
                h2{
                    font-size: 2rem;
                }
                p{
                    margin-bottom: 1rem;
                }
                .live-site{
                    text-decoration: none;
                    color: white;
                    background-color: $tagBlue;
                    margin-right: .5rem;
                    padding: 5px;
                    border-radius: 5px;
                }
                .source-code{
                    text-decoration: none;
                    color: white;
                    background-color: $tagOrange;
                    padding: 5px;
                    border-radius: 5px;
                }
            }        
        }

    }
}

@media only screen and (max-width: 600px){
    .container{
        .projects{
            height: 100vh;
            padding: 100% 0;
            .projects-div{
                display: block;
                .project{
                    width: 100%;
                    margin-bottom: 3rem;
                }
            }
        }
    }
}